:root {
  --bg: #1d1d1d;
  --grey: #262626;
  --light-grey: #4d4d4d;
  --green: #7faa65;
  --green-blur: #7faa6575;
  --orange: #aa9765;
  --orange-blur: #aa976575;
  --purple: #656caa;
  --purple-blur: #656caa75;
}
