.skeleton-pulsate {
  position: relative;
  background: #333333;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      #33333300 0%,
      #444444a8 40%,
      #444444a8 60%,
      #44444400 100%
    );
    animation: 1.5s linear infinite skeleton-pulsate;
  }
}

@keyframes skeleton-pulsate {
  0% {
    left: -100%;
  }
  20% {
    left: -100%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
